<!-- If any errors are detected -->
<% if(typeof errors != 'undefined') { %>

    <!-- ForEach loop to list each error -->
    <% errors.forEach(function(error) { %>

        <div class="alert alert-danger alert-dismissible fade show" role="alert">

            <!-- Error Message -->
            <%= error.msg %>

            <!-- Close Button -->
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">

              <span aria-hidden="true">&times;</span>

            </button>

        </div>
        
    <% }); %>

<% } %>